<h4>New product</h4>
<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-3">
        <label for="userId" class="form-label">user id</label>
        <input type="number" class="form-control" id="userId" formControlName="userId">
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">body</label>
        <input type="text" class="form-control" id="body" formControlName="body">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
