<div class="spinner spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Загрузка...</span>
</div>
<div class="d-flex justify-content-between align-items-top flex-wrap text-start" *ngIf="!error && !isLoading">
    <ng-container *ngFor="let product of products">
        <app-product
            [product]="product"
            (show)="onShow($event)"
            class="mb-3"
        ></app-product>
    </ng-container>
</div>
