<p>Cart</p>
<div class="spinner spinner-border text-primary" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Загрузка...</span>
</div>
<div *ngIf="!error && !isLoading">
  <ul class="cart" *ngFor="let item of items">
    <li class="cart__item d-flex justify-content-between align-items-center p-3">
      <span>{{ item.title }}</span>
      <button class="btn btn-danger" (click)="removeItem(item.id)">x</button>
    </li>
  </ul>
</div>
<app-toast id="remove-from-cart"></app-toast>

