<h2>Product details</h2>
<p *ngIf="product">{{ product.title }}</p>
<p *ngIf="product">{{ product.userId }}</p>
<p *ngIf="product">{{ product.body }}</p>
<button class="btn btn-success" *ngIf="product" (click)="addToCart(product)">Buy</button>
<app-toast id="to-cart"></app-toast>
