<div class="card" style="width: 18rem; height: 100%;">
    <div class="card-body d-flex flex-column justify-content-between align-items-center">
        <a [title]="product && product.title + ' details'"
            [routerLink]="['/products', product && product.id]">
            {{ product && product.title | cutText:20 }}
        </a>
      <p class="card-text mt-2" zoom>{{ product && product.body | cutText:150 }}</p>
      <br>
        <button class="btn btn-danger" (click)="show.emit(product && product.title.toString())">Show name</button>
    </div>
</div>
