<div class="toolbar d-flex justify-content-between align-items-center flex-wrap p-3">
    <h3>
        <a [routerLink]="['/']">Logo</a>
    </h3>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/add_product']">New product</a>
        </li>
    </ul>
</div>
